# Environment Configuration
NODE_ENV="development"  # Options: 'development', 'production'
PORT="3000"             # The port your server will listen on
HOST="localhost"        # Hostname for the server
API_BASE_PATH="/api/v1" # Base path for all your API routers
TIMEOUT_MS="15000"      # Global timeout handler (ms)

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary